<!DOCTYPE html>
<html>

	<head>

		<!-- skeleton css -->
		<link rel="stylesheet" href="{{ url_for('static',filename='inc/Skeleton-2.0.4/css/skeleton.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='inc/Skeleton-2.0.4/css/normalize.css')}}">

		<!-- local css -->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/oaiglow.css')}}">		

	</head>

	<body>

		<div class="container">

			<div class="row">
				<div class="twelve columns">
					<ul class="main_nav">
						<li><a href="/{{localConfig.OAIGLOW_APP_PREFIX}}/" class="app_title"><span>oaiglow</span></a></li>
						<li><a href="/{{localConfig.OAIGLOW_APP_PREFIX}}/harvest/">harvest</a></li>
						<li><a href="/{{localConfig.OAIGLOW_APP_PREFIX}}/view/">view</a></li>
					</ul>
				</div>
			</div>


