{% include 'header.html' %}

<div class="row">
	<div class="twelve columns">

		<h4>Welcome to oaiglow!</h4>
		<p>This application is intended to harvest records from an OAI-PMH server, preview select parts of their metadata, and run validation and checks that can be viewed or exported as reports.</p>
		<h5>Current OAI-PMH Configuration</h5>
		<table class="table">
			<tr>
				<th>Server</th>
				<th>URL</th>
				<th>Target set</th>
				<th>Metadata prefix</th>
				<th>Reported Records</th>
				<th>Harvested Records</th>
			</tr>
			<tr>
				<td>{{localConfig.OAI_SERVER_NAME}}</td>
				<td><a href="{{localConfig.OAI_SERVER_BASE_URL}}?verb=Identify">{{localConfig.OAI_SERVER_BASE_URL}}</a></td>
				<td>{{localConfig.OAI_SET}}</td>
				<td>{{localConfig.OAI_METADATA_PREFIX}}</td>
				<td>{{total_count}}</td>
				<td>{{records.count()}}</td>
			</tr>
		</table>
	</div>
</div>

{% include 'footer.html' %}

