{% include 'header.html' %}

<div class="row">
	<div class="twelve columns">
		<h2>Single Record</h2>
	</div>
</div>

{% if record %}
	<div class="row">
		<div class="six columns">
			<table class="u-full-width">
				<tbody>
					<tr>
						<td><strong>Title</strong></td>
						<td>{{record.title}}</td>
					</tr>
					<tr>
						<td><strong>Identifier</strong></td>
						<td>{{record.identifier}}</td>
					</tr>
					<tr>
						<td><strong>Live URL</strong></td>
						<td><a href="{{record.primary_url}}">{{record.primary_url}}</a></td>
					</tr>
					<tr>
						<td><strong>Thumbnail</strong></td>
						<td><a href="{{record.primary_url}}"><img src="{{record.thumbnail_url}}"/></a></td>
					</tr>
					<tr>
						<td><strong>Abstract</strong></td>
						<td>{{record.abstract}}</td>
					</tr>
					<tr>
						<td><strong>Sources</strong></td>
						<td>
							<ul>
								<li><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/record/{{record.identifier}}/raw">Harvested OAI record</a></li>
								<li><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/record/{{record.identifier}}/metadata">Metadata subset</a></li>
								<li><a href="{{localConfig.OAI_SERVER_BASE_URL}}?verb=GetRecord&metadataPrefix={{localConfig.OAI_METADATA_PREFIX}}&identifier={{record.identifier}}">Live OAI-PMH record</a></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td><strong>Validation</strong></td>
						<!-- <td>
							<ul>
								<li><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/record/{{record.identifier}}/validate/schematron">Schematron Validation - {% if record.is_valid %}<span style="font-weight:bold;color:green;">Valid</span>{% else %}<span style="font-weight:bold;color:red;">Invalid</span>{% endif %}</a><br></li>
							</ul>
						</td> -->
						<td>
							<table class="table embed_table">								
								{% for validation in record.validation_results %}
									<tr>
										<td>{{validation.schematron.name}}</td>
										<td>{% if validation.result %}<span style="color:green; font-weight:bold;">Valid</span>{% else %}<span style="color:red; font-weight:bold;">Invalid</span>{% endif %}</td>
										<td><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/record/{{record.identifier}}/validate/schematron/{{validation.schematron.id}}">report</a></td>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td><strong>Actions</strong></td>
						<td>
							<ul>
								<li><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/record/{{record.identifier}}/update">Update from OAI-PMH server</a><br></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endif %}

{% include 'footer.html' %}

