{% include 'header.html' %}

<div class="row">
	<div class="twelve columns">
		<h2>Reports and Validation</h2>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Run</h3>
		<p>The following tests and checks run over <strong>all</strong> currently harvested records, and records this result in the database.  These results can be viewed in the record preview table, or downloaded as as stand-alone report below.</p>
		<ul>
			<li>
				<a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/reports/validate_schematrons" onclick="longRunner();"><button class="btn white_background">Run schematron validations on all records</button></a>
				<a href="#" onclick="$('#schematron_validation_info').slideToggle(); return false;"><button class="btn orange_background">?</button></a>
				<ul id="schematron_validation_info" style="display:none;">
					<li>This will populate the <code>validation score</code> column in the <a href="{{ url_for('view') }}">records view table</a>, based on a composite score of all schematron validations entered in the <a href="{{ url_for('config') }}">config section</a>.</li>
					<li>Each 5,000 records takes about 1 minute to run.</li>
					<li>Let's say you have uploaded 4 schematron validations.  If a record passes three of those schamtron validations without any errors, but fails one, it would get a <code>validation score</code> of <code>0.75</code>.  If they pass all tests, it would get a score of <code>1</code>.  This column can be used to sort the table and find records, grouping records that are failing the most tests.  You can then click into a single record from the table and view precisely which schematron validations are failing and get a report from the validation.</li>
				</ul>
			</li>
			<li>
				<a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/reports/link_check" onclick="longRunner();"><button class="btn white_background">Link Check Records</button></a>
				<a href="#" onclick="$('#link_checker_info').slideToggle(); return false;"><button class="btn orange_background">?</button></a>
				<ul id="link_checker_info" style="display:none;">
					<li>This will check thumbnail URLs and live record URLs, and return a report for all items.</li>
				</ul>
			</li>
		</ul>		
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Export</h3>
		<form class="form" method="POST" action="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/reports/export">
			<div class="row">
			    <div class="three columns">
			        <label for="report_name">Report Name (avoid spaces or strange characters)</label>
			        <input class="u-full-width" type="text" name="report_name" placeholder="export_1_7_2017" id="report_name">
			        <br><br>
			        <input class="white_background" type="submit">
			    </div>
		    </div>
		</form>
	</div>
	<div class="twelve columns">
		<table class="table">
			<tr>
				<th>Report Name</th>
				<th>Actions</th>
			<tr>
			{% for report in reports %}
				<tr>
					<td>{{report}}</td>
					<td><a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/reports/download/{{report}}">Download</a> / <a href="{% if localConfig.OAIGLOW_APP_PREFIX_USE %}{{localConfig.OAIGLOW_APP_PREFIX}}{% endif %}/reports/delete/{{report}}">Delete</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% include 'footer.html' %}

