{% include 'header.html' %}

<div class="row">
	<div class="twelve columns">
		<h2>View</h2>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		
		<!-- insert table here -->
		<table id="record_table" class="display" cellspacing="0" width="100%">
            <thead></thead>  
            <tbody></tbody>          
        </table>

	</div>
</div>

<!-- JS -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  var table = $('#record_table').DataTable({
	    "processing": true,
	    "serverSide": true,
	    "ajax": {
	    	contentType: "application/json",
    		type: "POST",
    		url: "/{{localConfig.OAIGLOW_APP_PREFIX}}/view/all/datatables_json",    		
		    data: function ( d ) {
		      return JSON.stringify( d );
		    }
	    },
		"columns": [
	        { "name": "title", "title": "Title" },
	        { "name": "abstract", "title": "Abstract" },
	        { "name": "identifier", "title": "OAI Identifier" },
	        { 
	        	"name": "thumbnail_url",
	        	"title": "Thumbnail",
	        	"render": function (data, type, row, meta) {
	        		console.log(data);
			        return '<img height=64 src="' + data + '"/>';
			    }
	    	},
	    	{ 
	        	"name": "actions",
	        	"title": "Actions",
	        	"render": function (data, type, row, meta) {
			        return '<a target="_blank" href="/{{localConfig.OAIGLOW_APP_PREFIX}}/record/'+row[2]+'" class="button">Details</a>';
			    }
	    	}
	    ]
	  });  
	});
</script>

{% include 'footer.html' %}

